@model Student

Create New Student

<div class="row">
	<div class="col-md-3">
	<form asp-controller="StudentsController1" asp-action="Create" method="post">
		<div class="form-group">
			<label for="Name">Name</label>
			<input type="text" class="form-control" asp-for="Name"/>
		</div>
		
		<div class="form-group">
			<label for="Email">Email</label>
			<input type="text" class="form-control" asp-for="Email"/>
		</div>
		
		<div class="form-group">
			<label for="Age">Age</label>
			<input type="text" class="form-control" asp-for="Age"/>
		</div>
		
		<div style="color:red" asp-validation-summary="All"></div>

		<button class="btn btn-sm btn-success mt-2 float-end">Create</button>

	</form>
	</div>
</div>